a, dt, h1, h2, h3, input, li, p, q, textarea, td,
div:not(.icon--2sY_j/*rakuten*/), 
em:not(.W_ficon/*weibo*/), 
i:not(.c-icon/*baidu*/):not(.fa/*minwt*/):not(.fp-iconfont/*tmall*/):not(.iconfont):not(.icon-user/*sohu*/):not(.material-icons-extended/*google*/):not(.mui-global-iconfont/*tmall*/):not(.tb-ifont/*taobao*/):not(.wbicon/*weibo*/):not(.W_ficon/*weibo*/), 
span:not(.iconfont/*youku*/):not(.material-icons-extended/*google*/):not(.octicon-mark-github/*github*/):not(.octicon/*github*/):not(.site-nav-icon/*taobao*/):not(.tb-ifont/*taobao*/):not(.upload-bg/*jd*/)
{
    font-family: /*replace with your own fonts*/ Font1, Font2, Font3, Font4, monospace !important;
}
